@import url('https://fonts.googleapis.com/css?family=Open+Sans|PT+Sans:700');

html, body {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.app-grid {
  display: grid;
  grid-column-gap: 20px;
  padding: 10px;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.layout-grid {
  grid-column: span 10/12;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.brand {
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  margin: 0;
  color: orange;
  font-size: 40px;
}

.brand a {
  color: inherit;
}

.nav-links {
  display: flex;
}

.nav-links li {
  margin-right: 10px;
  margin-left: 10px;
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: black;
  padding: 15px 15px;
}

.nav-links a:hover {
  color: orange;
}

.hero {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.hero h1 {
  color: orange;
}

.hero p {
  max-width: 600px;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 50px;
}

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border: 1px solid transparent;
  padding: 6px 20px;
  line-height: 1.5;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.5s;
}

.btn-lg {
  font-size: 24px;
}

.btn-orange {
  color: orange;
  background-color: transparent;
  background-image: none;
  border-color: orange;
}

.btn-orange:hover {
  color: white;
  border-color: white;
  background-color: orange;
}

.btn-orange-inverse {
  color: white;
  background-color: orange;
  background-image: none;
  border-color: white;
}

.btn-orange-inverse:hover {
  /* background-color: rgb(238, 156, 5); */
  background-color: black;
  border-color: orange;
  color: orange;
}

.black-bg {
  background: black;
  color: white;
  margin-top: 100px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.how {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.how h1 {
  text-align: center;
  color: orange;
}

.how h2 {
  text-align: center;
}

.steps {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.card {
  border: 1px solid orange;
  border-radius: 5px;
  margin: 15px;
  flex-grow: 1;
  flex-basis: 0;
  padding: 15px;
  transition: all 1.2s;
}

.card:hover {
  box-shadow: 0px 2px 20px orange;
}

.card p {
  line-height: 25px;
}

.card hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid orange;
  margin: 1em 0;
  padding: 0;
}

.orange-bg {
  background: orange;
}

.site-content {
  flex: 1;
}

/* signup page */
.form-group input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 5px;
  border: 2px solid;
  transition: all .5s;
}

.form-group input:focus {
  border-color: orange;
  outline: none;
}

.btn-submit {
  width: 100%;
  margin-top: 20px;
}

.p-100 {
  padding-bottom: 100px;
}

.report {
  width: 100%;
  /* padding: 12px 20px; */
  box-sizing: border-box;
  transition: all .5s;
}

.report p {
  margin: 2px 0 0;
  width: 100%;
}

.report.error {
  background: rgb(248, 155, 155);
}

.member-status {
  margin-top: 10px;
  display: block;
}

.member-status a {
  color: orange;
}

/* ride offers page */
.instructions {
  padding-bottom: 50px;
}

.instructions p {
  font-size: 20px;
}

.ride-results, .ride-offer {
  padding-bottom: 100px;
}

.available-ride {
  padding-bottom: 5px;
  border-bottom: 1px solid rgb(153, 153, 153);
  margin-bottom: 30px;
}

.path {
  background: orange;
  padding: 10px 15px;
}

.path span {
  color: white;
  margin: 0 5px;
}

.path h4 {
  margin: 0;
}

.ride-summary {
  display: grid;
  grid-column-gap: 20px;
  padding: 10px;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.profile {
  grid-column: span 4/5;
  display: flex;
  align-items: start;
}

.profile img {
  border-radius: 50%;
  margin-right: 10px;
}

.driver i {
  font-weight: normal;
}

.ride-info {
  grid-column: span 4/9;
  text-align: center;
}

.price {
  font-weight: bold;
  font-size: 30px;
  margin: 0;
  line-height: 1;
}

.actions {
  grid-column: span 4;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: space-around;
}

/* ride-details */
.ride-details {
  display: grid;
  grid-column-gap: 20px;
  padding: 10px;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  padding-bottom: 100px;
}

.trip {
  grid-column: span 8;
  background: rgb(243, 243, 243);
  padding: 15px 40px 50px;
}

.trip td {
  padding: 5px 15px 5px 0;
}

.trip tr>td:first-child {
  font-weight: bold;
}

.driver-profile {
  grid-column: span 4;
}

.driver-name {
  font-weight: normal;
  font-family: 'Open Sans', sans-serif;
}

.checked {
  color: orange;
}

.call-to-action {
  margin-top: 50px;
}

/* request success */
.success-message {
  display: flex;
  align-items: center;
}

.success-message .fa {
  color: green;
}

.success-message p {
  margin-left: 10px;
  max-width: 60%;
  line-height: 25px;
}

/* offer a ride */
.ride-offer h3 {
  color: rgb(173, 170, 170);
}
